@mixin light-theme {
  /* backgrounds */

  --BG_0: #FFFFFF;
  --BG_1: #F2F2F7;
  --BG_2: #FFFFFF;
  --BG_3: #ffffff;

  /* colors */

  --RED: #FF383C;
  --HRED: #D93033;
  --YELLOW: #FFCC00;
  --HYELLOW: #D9AE00;
  --GREEN: #34C759;
  --HGREEN: #2CA94C;
  --BLUE: #0088FF;
  --HBLUE: #0074D9;

  /* text */

  --TX: #000000;

  /* grays */

  --GR_0: #F5F5F5;
  --GR_1: #EBEBEB;
  --GR_2: #E1E1E1;
  --GR_3: #D7D7D7;
  --GR_4: #CDCDCD;
  --GR_5: #C3C3C3;
  --WH: #FFFFFF;
  --BLK: #000000;
}

@mixin dark-theme {
  /* backgrounds */

  --BG_0: #000000;
  --BG_1: #0B0B0C;
  --BG_2: #121214;
  --BG_3: #242428;

  /* colors */

  --RED: #FF383C;
  --HRED: #D93033;
  --YELLOW: #FFCC00;
  --HYELLOW: #D9AE00;
  --GREEN: #34C759;
  --HGREEN: #2CA94C;
  --BLUE: #0088FF;
  --HBLUE: #0074D9;

  /* text */

  --TX: #FFFFFF;

  /* grays */

  --GR_0: #0A0A0A;
  --GR_1: #141414;
  --GR_2: #1E1E1E;
  --GR_3: #282828;
  --GR_4: #323232;
  --GR_5: #3C3C3C;
  --WH: #FFFFFF;
  --BLK: #000000;
}