@mixin light-theme {
  /* backgrounds */

  --BG_0: #FFFFFF;
  --BG_1: #F2F2F7;
  --BG_2: #FFFFFF;
  --BG_3: #ffffff;

  /* colors */

  --RED: #FF383C;
  --HRED: #D93033;
  --YELLOW: #FFCC00;
  --HYELLOW: #D9AE00;
  --GREEN: #34C759;
  --HGREEN: #2CA94C;
  --BLUE: #0088FF;
  --HBLUE: #0074D9;

  /* text */

  --TX: #000000;

  /* grays */

  --GR_0: #F2F2F7;
  --GR_1: #E5E5EA;
  --GR_2: #D1D1D6;
  --GR_3: #C7C7CC;
  --GR_4: #AEAEB2;
  --GR_5: #8E8E93;
  --WH: #FFFFFF;
  --BLK: #000000;
}

@mixin dark-theme {
  /* backgrounds */

  --BG_0: #000000;
  --BG_1: #0B0B0C;
  --BG_2: #121214;
  --BG_3: #242428;

  /* colors */

  --RED: #FF383C;
  --HRED: #D93033;
  --YELLOW: #FFCC00;
  --HYELLOW: #D9AE00;
  --GREEN: #34C759;
  --HGREEN: #2CA94C;
  --BLUE: #0088FF;
  --HBLUE: #0074D9;

  /* text */

  --TX: #FFFFFF;

  /* grays */

  --GR_0: #080808;
  --GR_1: #121212;
  --GR_2: #191919;
  --GR_3: #212121;
  --GR_4: #2F2F2F;
  --GR_5: #404040;
  --WH: #FFFFFF;
  --BLK: #000000;
}