.link {
  display: inline-block;
  transition: background-color 150ms ease, border-color 150ms ease, color 150ms ease;

  & > * {
    pointer-events: none;
    color: inherit;
  }

  svg {
    background-color: transparent;
    fill: var(--WH);
  }

  &._icons {
    display: inline-flex;
    align-items: center;
  }

  padding: 0;
  background-color: transparent;
  text-decoration: none;
  svg {
    &:first-child {
      margin-left: 8px;
    }
    &:last-child {
      margin-right: 8px;
    }
  }

  &:hover {
    text-decoration: underline;
    background-color: transparent;
  }

  /* colors */

  &.red {
    color: var(--RED);
    svg {
      path {
        fill: var(--RED);
      }
    }
    &:hover {
      color: var(--HRED);
      svg {
        path {
          fill: var(--HRED);
        }
      }
    }
    &:active {
      color: var(--HRED);
      svg {
        path {
          fill: var(--HRED);
        }
      }
    }
  }

  &.blue {
    color: var(--BLUE);
    svg {
      path {
        fill: var(--BLUE);
      }
    }
    &:hover {
      color: var(--HBLUE);
      svg {
        path {
          fill: var(--HBLUE);
        }
      }
    }
    &:active {
      color: var(--HBLUE);
      svg {
        path {
          fill: var(--HBLUE);
        }
      }
    }
  }

  &.yellow {
    color: var(--YELLOW);
    svg {
      path {
        fill: var(--YELLOW);
      }
    }
    &:hover {
      color: var(--HYELLOW);
      svg {
        path {
          fill: var(--HYELLOW);
        }
      }
    }
    &:active {
      color: var(--HYELLOW);
      svg {
        path {
          fill: var(--HYELLOW);
        }
      }
    }
  }

  &.green {
    color: var(--GREEN);
    svg {
      path {
        fill: var(--GREEN);
      }
    }
    &:hover {
      color: var(--HGREEN);
      svg {
        path {
          fill: var(--HGREEN);
        }
      }
    }
    &:active {
      color: var(--HGREEN);
      svg {
        path {
          fill: var(--HGREEN);
        }
      }
    }
  }

  &.gray {
    color: var(--GR_4);
    svg {
      path {
        fill: var(--GR_4);
      }
    }
    &:hover {
      color: var(--GR_3);
      svg {
        path {
          fill: var(--GR_3);
        }
      }
    }
    &:active {
      color: var(--GR_3);
      svg {
        path {
          fill: var(--GR_3);
        }
      }
    }
  }


  /* sizes */

  &.button_14 {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.button_15 {
    svg {
      width: 18px;
      height: 18px;
    }
  }

  &.button_18 {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}